﻿
@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dil Seçimi</h2>


<li>@Html.ActionLink("Turkish", "Indexx", "Language", new { LanguageAbbrevation = "tr" }, null)</li>
<li>@Html.ActionLink("English", "Indexx", "Language" , new { LanguageAbbrevation = "en" }, null)</li>


