﻿
@{
    ViewBag.Title = "DersNot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DersNot</h2>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Modüller</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Personel Bilgi Sistemi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="/Home/ModuleDetails" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Öğrenci Bilgi Sistemi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Akademik Bilgi Sistemi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Lojman Takip Sistemi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Akademik Faaliyetler</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="" />
                        </div>
                        <div class="col-md-12">
                            <h4>Performans Sistemi</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn-primary">Detaylar</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

