﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="main-slider" class="no-margin" >
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>         
            <li data-target="#main-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../../images/slider/11.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1" col style="color:chocolate">BİLİŞİM TEKNOLOJİLERİ ETKİNLİKLERİ</h1>
                                
                                <a class="btn-slide animation animated-item-3" href="#">Devamı</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(../../images/slider/2232016-basliksiz-1-093849.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">BİLİŞİM TEKNOLOJİLERİ DERS KİTAPLARI</h1>
                               
                                <a class="btn-slide animation animated-item-3" @Html.ActionLink("Devamı", "Kitaplar", "Home")></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           
            <div class="item" style="background-image: url(../../images/slider/kodlama-670x330.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">BİLİŞİM TEKNOLOJİLERİ DERS SUNULARI</h1>

                                <a class="btn-slide animation animated-item-3" @Html.ActionLink("Devamı", "DersSunu", "Home")></a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>
<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            
            <p class="lead">KATEGORİLER </p>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services1.png">

                        
                    </div>
                    <div class="media-body">
                       
                         <h3 class="media-heading">@Html.ActionLink(webodev.Resources.lang.Derssunu, "DersSunu", "Home")</h3>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services2.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@Html.ActionLink(webodev.Resources.lang.DersNot, "DersNot", "Home")</h3>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services3.png">
                    </div>
                    <div class="media-body">
                        <a href="#"><h3 class="media-heading">Etkinlikler</h3></a> 
                        <p>Etkinliklerimiz Her Hafta Düzenli Güncellenecektir</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services4.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@Html.ActionLink(webodev.Resources.lang.KavramHarita, "KavramHarita", "Home")</h3>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services5.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@Html.ActionLink(webodev.Resources.lang.Kitaplar, "Kitaplar", "Home")</h3>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="~/images/services/services6.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@Html.ActionLink(webodev.Resources.lang.Sinavlar, "Sinavlar", "Home")</h3>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

    